<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Wallee.Test.Transaction.BasePath" value="https://app-wallee.com/api"/>
    <add key="Wallee.Test.Transaction.SpaceId" value="405"/>
    <add key="Wallee.Test.Transaction.ApplicationUserId" value="512"/>
    <add key="Wallee.Test.Transaction.AuthenticationKey" value="FKrO76r5VwJtBrqZawBspljbBNOxp5veKQQkOnZxucQ="/>
  </appSettings>
</configuration>
